<div class="social-sharing">
  <span class="visually-hidden">{{ 'Social Sharing'|t }}</span>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{url('entity.node.canonical', {'node': node.id( )}) }}" target="_blank">
    <i class="fa fa-facebook"><span class="visually-hidden">{{ 'Share to Facebook'|t }}</span></i>
  </a>
  <a href="https://twitter.com/intent/tweet?source={{url('entity.node.canonical', {'node': node.id( )}) }}" target="_blank">
    <i class="fa fa-twitter"><span class="visually-hidden">{{ 'Share to Twitter'|t }}</span></i>
  </a>
  <a href="https://plus.google.com/share?url={{url('entity.node.canonical', {'node': node.id( )}) }}" target="_blank">
    <i class="fa fa-google-plus"><span class="visually-hidden">{{ 'Share to Google Plus'|t }}</span></i>
  </a>
  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{url('entity.node.canonical', {'node': node.id( )}) }}" target="_blank">
    <i class="fa fa-linkedin"><span class="visually-hidden">{{ 'Share to Linkedin'|t }}</span></i>
  </a>
</div>