/* Images */
.aspect__16_9 {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.aspect__16_6 {
  position: relative;
  height: 0;
  padding-bottom: 39%;
  overflow: hidden;
}

.aspect__1_1 {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}

/* Iframes */
.iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
  margin-bottom: 16px;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Local tasks */
.reportasap-local-tasks ul {
  margin: 24px 0;
  padding: 0;
}

.reportasap-local-tasks ul li {
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 10px;
}

.reportasap-local-tasks ul li a {
  padding: 8px 24px;
  display: inline-block;
  background: #fff;
  border: 1px solid $c-mountain-meadow;
  cursor: pointer;
}

.reportasap-local-tasks ul li a.is-active {
  background: $c-mountain-meadow;
  color: #fff;
}


/* Slideshow - Top Image */
.slideshow {
  overflow: hidden;
  position: relative;
}

.slideshow .slideshow-item {
  opacity: 0;
  height: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  position: relative;
  clear: both;
  overflow: hidden;
}

.slideshow .slideshow-item.showing {
  opacity: 1;
  height: 100%;
}

.slideshow-caption {
  background: rgba(25, 150, 136, 0.8);
  padding: 24px 24px 0;
  margin: 0 -15px;
  clear: both;
  overflow: hidden;
}

.slideshow-caption * {
  color: #fff;
}

.top-image {
  position: relative;
}

/* Views */
.views-element-container .row {
  margin-top: 54px;
}

.views-element-container .more-link {
  border: 1px solid $c-mountain-meadow;
  border-radius: 50px;
  padding: 8px 32px;
  font-weight: 700;
  margin: 32px auto 0;
}

.views-element-container .more-link:hover {
  background: $c-mountain-meadow;
}

.views-element-container .more-link:hover a {
  color: #fff;
}

.article--summary {
  background: rgba(255, 255, 255, 0.9);
  padding: 32px;
  z-index: 1;
  height: 100%;
}

.react--content {
  margin-bottom: 48px;
}

.react--content .article--summary {
  border-bottom: 3px solid $c-mountain-meadow;
}

.article--summary:hover {
  background: rgba(255, 255, 255, 1);
}

.body--summary {
  margin-top: 16px;
}

.react--content.partners .article--title {
  display: none;
}

.react--content.partners .article--summary {
  border-bottom: 0;
}

h1.article--title {
  background: $c-mountain-meadow;
  padding: 32px;
  color: #fff;
  margin-top: 32px;
}

.article--date {
  margin-bottom: 32px;
}

.article--date .fa {
  margin-right: 16px;
}

.article--image {
  margin-bottom: 16px;
}

.article--body img {
  width: auto;
}

.load-more {
  margin: 48px 0 32px;
}

/* Spinner */
.spinner {
  display: none;
  width: 40px !important;
  height: 40px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  margin-top: 0px;
  margin-left: -20px;
  z-index: 1000;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  z-index: 9999;
}

.loader .spinner {
  display: block;
  background-color: $c-mountain-meadow;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px)
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg)
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}


/* Scroll to content */
.scrolltocontent {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  bottom: 48px;
  color: #fff !important;
  background: $c-mountain-meadow;
  opacity: 0.5;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  padding-top: 8px;
  z-index: 1;
}

.scrolltocontent:hover {
  opacity: 1;
}

/* Social sharing */
.social-sharing {
  margin-bottom: 32px;
}

.social-sharing .fa {
  color: #fff;
  width: 36px;
  height: 36px;
  font-size: 0.9em;
  border: 1px solid #324b80;
  border-radius: 50%;
  text-align: center;
  margin-right: 8px;
  padding-top: 10px;
  background: #324b80;
}

.social-sharing .fa:hover {
  color: #324b80;
  background: #fff;
}

.social-sharing .fa-twitter {
  background: #1c9ded;
  border-color: #1c9ded;
}

.social-sharing .fa-twitter:hover {
  color: #1c9ded;
}

.social-sharing .fa-linkedin {
  background: #0970a8;
  border-color: #0970a8;
}

.social-sharing .fa-linkedin:hover {
  color: #0970a8;
}

.social-sharing .fa-google-plus {
  background: #c34131;
  border-color: #c34131;
}

.social-sharing .fa-google-plus:hover {
  color: #c34131;
}

.view-all {
  margin-top: 32px;
}

@media (min-width: 768px) {
  .slideshow-caption {
    position: absolute;
    left: 0;
    bottom: 100px;
    margin: 0;
  }
  .slideshow-caption h1 {
    font-size: 2em;
  }
  .slideshow .slideshow-item {
    height: auto;
    width: 0;
  }
  .slideshow .slideshow-item.showing {
    width: 100%;
  }
  .views-element-container .more-link {
    position: absolute;
    top: 0;
    right: 15px;
    margin: 0;
  }
  h1.article--title {
    margin-top: 60px;
  }
  .scrolltocontent {
    display: block;
  }
}

@media (min-width: 1024px) {
  .slideshow {
    min-height: 500px;
  }
  .slideshow-caption h1 {
    font-size: 3em;
  }
}

.ajax-progress.ajax-progress-fullscreen {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  z-index: 9999;
  opacity: initial;
  padding: 0;
  background-image: none;
  border-radius: 0;
  width: 100vw;
  height: 100vh;

  &:after {
    content: "";
    height: 40px;
    width: 40px;
    background: none;
    border-radius: 100%;
    margin-top: 0;
    margin-left: -20px;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
    display: block;
    background-color: #199688;
    position: absolute;
    z-index: 2000000000;
    left: 50%;
    top: 50%;
  }

}
