
<article role="{{ attributes.role }}" about="{{ attributes.about }}" typeof="{{ attributes.typeof }}">
  
  {% if content.field_top_image|render is not empty %}
      
    {% if node.field_top_image|length > 1 %}  
      <div class="slideshow">
    {% else %} 
      <div class="top-image">
    {% endif %}
        {{ content.field_top_image }}
        
        <a href="#article-content" class="scrolltocontent"><i class="fa fa-arrow-down"></i><span class="visually-hidden">{{ 'Scroll to content'|t }}</span></a>
    </div>

  {% endif %}
    
  <div class="container">
    
    <a id="article-content"></a>

    {% if node.field_hide_title.value != 1 %}
        <div class="row">
            <div class="col-md-8">
                <h1 class="article--title">{{ label }}</h1>
            </div>

            {% if node.type.entity.label == 'News' or node.type.entity.label == 'Event' %}

                <div class="col-md-4 d-flex align-items-center justify-content-center">
                    {% if node.type.entity.label == 'News' %}
                        {% set view_all_link = 'news' %}
                    {% elseif node.type.entity.label == 'Event' %}
                        {% set view_all_link = 'events' %}
                    {% endif %}
                    <div class="view-all">
                        <a href="/{{ view_all_link }}" class="button">{{ 'View all '|t }} {{ view_all_link }}</a>
                    </div>    
                </div>

            {% endif %}
            
        </div>
    {% endif %}

    <div class="row">
        
        {% set col = 'col-lg-12' %}
        {% if content.field_date|render is not empty or content.field_publication_date|render is not empty %}
            {% set col = 'col-md-8' %}
            <div class="col-md-4">
                <div class="article--date">
                    <i class="fa fa-calendar"></i>
                    
                        {{ content.field_date }}
                        {{ content.field_publication_date }}
                   
                </div>

                {% include directory ~ '/templates/includes/social-sharing.html.twig' %}

            </div>
        {% endif %}
        
        <div class="{{ col }}">
            <div class="article--body">{{ content.body }}</div>
            
            {{ content.field_webform }}
            
        </div>
    </div>
    
    {% if  content.field_icon_block|render is not empty %}
        <div class="row icon-blocks">
            {{ content.field_icon_block }}  
        </div>
    {% endif %}
    
    {% if  content.field_more_link|render is not empty %}
        <div class="align-center">
            <a href="{{ content.field_more_link[0]['#url'] }}" class="button">
                {{ content.field_more_link[0]['#title'] }}
            </a>    
        </div>    
    {% endif %}
    
    {% if  content.field_react_container|render is not empty %}
        <div id="react-nodes" data-type="{{ node.field_react_container.value }}"> 
    {% endif %}
  
  </div>
    
    {% if  content.field_block|render is not empty %}
        {{ content.field_block }}  
    {% endif %}  

</article>
