
<article role="{{ attributes.role }}" about="{{ attributes.about }}" typeof="{{ attributes.typeof }}">
  
  {% if content.field_top_image|render is not empty %}  
    <div class="top-image">
        {{ content.field_top_image }}
        <a href="#article-content" class="scrolltocontent"><i class="fa fa-arrow-down"></i><span class="visually-hidden">{{ 'Scroll to content'|t }}</span></a>
    </div>
  {% endif %}
    
  <div class="container">
    
    <div class="row">
        
        <div class="col-md-8">
            <h1 class="article--title">{{ label }}</h1>
        </div>
        
        <div class="col-md-4 d-flex align-items-center justify-content-center">
            <div class="view-all">
                <a href="/partners" class="button">{{ 'View all partners'|t }}</a>
            </div>
        </div>
        
        <a id="article-content"></a>
        
    </div>
        
    <div class="row">
        <div class="col-md-4">
            {{ content.field_logo }}
            
            <p>
                <a href="{{ content.field_url[0]['#url'] }}" class="button" target="_blank">
                    {{ 'Visit website'|t }}
                </a>
            </p>
        </div>

        <div class="col-md-8">
          {{ content.body }}
        </div>
    
    </div>
  
  </div>

</article>
