button {
  background-color: transparent;
  border: none;
  outline: none;
}

button,
input[type=button],
input[type=submit],
label,
button:focus {
  outline: none;
}

.button,
a.button {
  display: inline-block;
  border-radius: 50px;
  padding: 8px 32px;
  border: 1px solid $c-mountain-meadow;
  text-decoration: none;
  font-weight: 700;
  color: $c-mountain-meadow;
  background: transparent;
  transition: color 0.2s, background-color 0.2s;
}

.button:hover,
a.button:hover {
  color: #fff;
  background: $c-mountain-meadow;
}

.button[disabled]:hover,
a.button[disabled]:hover {
  color: $c-mountain-meadow;
  background: $c-white;
  cursor: default;
}
