/* Dynamic Demonstrator */

.score {
    font-size: 1.6em;
    font-weight: 700;
}

.meter {
    height: 30px;
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(97, 173, 47);
    background-image: linear-gradient(
      center bottom,
      rgb(97, 173, 47) 37%,
      rgb(97, 173, 48) 69%
    );
    box-shadow:
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}
.meter.fail > span {
    background-color: #f0a3a3;
    background-image: linear-gradient(to bottom, #f0a3a3, #f42323);
}

.meter > span:after,
.animate > span > span {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image:
			   -webkit-gradient(linear, 0 0, 100% 100%,
			      color-stop(.25, rgba(255, 255, 255, .2)),
			      color-stop(.25, transparent), color-stop(.5, transparent),
			      color-stop(.5, rgba(255, 255, 255, .2)),
			      color-stop(.75, rgba(255, 255, 255, .2)),
			      color-stop(.75, transparent), to(transparent)
			   );
    background-image:
				-moz-linear-gradient(
				  -45deg,
			      rgba(255, 255, 255, .2) 25%,
			      transparent 25%,
			      transparent 50%,
			      rgba(255, 255, 255, .2) 50%,
			      rgba(255, 255, 255, .2) 75%,
			      transparent 75%,
			      transparent
			   );
    z-index: 1;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

.meter > span:after,
.animate > span > span {
  animation: move 3s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

/* Tips */
.tips {
    margin-bottom: 40px;
}
/* Accordion */
.tip-accordion {
    padding: 12px 20px 12px 50px;
    border: 1px solid $c-mountain-meadow;
    cursor: pointer;
    color: $c-mountain-meadow;
    position: relative;
    margin: 0;
    width: 100%;
    font-weight: 700;
    transition: all 0.5s ease;
    margin-top: 1px;
}
.tip-accordion:hover,
.tip-accordion:focus,
.tip-accordion.active {
    background: $c-mountain-meadow;
    color: #fff;
}
.tip-accordion .fa {
    font-size: 0.8em;
    color: $c-mountain-meadow;
    padding: 6px 8px;
    position: absolute;
    left: 10px;
    top: 12px;
}
.tip-accordion:hover .fa,
.tip-accordion:focus .fa,
.tip-accordion.active .fa {
    color: #fff;
}
.tip-accordion.active .fa:before {
    content: "\f068";
}
.accordion-content {
    opacity: 0;
    height: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    border: 1px solid $c-mountain-meadow;
    border-top: 0;
    border-bottom: 0;
}
.accordion-content.show {
    padding: 32px 20px 40px 20px;
    opacity: 1;
    height: auto;
    border-bottom: 1px solid $c-mountain-meadow;
}

/* form */

input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
    opacity: 0;
    -webkit-appearance: none;
    position: absolute;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
    padding: 0 0 0 2.5em;
    position: relative;
}
input[type="checkbox"] +label:before,
input[type="radio"] + label:before {
    -webkit-appearance: none;
    content: "";
    border: 2px solid #333;
    background: transparent;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
}
input[type="radio"] + label:before {
    border-radius: 50%;
}
input[type="checkbox"] + label:after,
input[type="radio"] + label:after {
    -webkit-appearance: none;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -30px;
    left: -10px;
    margin: 0.5em 0 0.5em 0.5em;
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
}
input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
    border-color: $c-mountain-meadow;
}
input[type="checkbox"]:checked + label:after,
input[type="radio"]:checked + label:after {
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
    content: "✓";
    font-size: 2em;
    color: $c-mountain-meadow;

}
.form-disabled input[type="checkbox"] + label,
.form-disabled input[type="radio"] + label {
    cursor: default;
}
.form-disabled input[type="checkbox"]:checked + label:before,
.form-disabled input[type="radio"]:checked + label:before {
    border-color: gray;
}
.form-disabled input[type="checkbox"]:checked + label:after,
.form-disabled input[type="radio"]:checked + label:after {
    color: gray;
}

.form-actions {
    margin-top: 20px;
}
.fieldset-wrapper .description {
    margin-bottom: 30px;
}
