body {
  font-family: 'Jura', sans-serif;
  color: #444;
}

h1, h2, h3, h4, h5, h6, .heading__large {
  font-weight: 700;
}

.heading__large,
h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.2em;
}

.bold {
  font-weight: 700;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.hidden {
  display: none;
}

.text__uppercase {
  text-transform: uppercase;
}

.small {
  font-size: 0.9em;
}

.italic {
  font-style: italic;
}

a {
  color: $c-mountain-meadow;
  transition: color 0.2s;
}

a:hover {
  text-decoration: none;
  color: #e5ae1e;
}

/* Table styling */
table {
  border-bottom: 10px solid $c-mountain-meadow;
  margin: 20px 0;
}

th {
  background: $c-mountain-meadow;
  color: #fff;
  font-weight: 700;
}

th h1,
th h2,
th h3,
th h4 {
  color: #fff;
}

td, th {
  padding: 20px;
}

td {
  border-right: 1px solid #fff;
}

tr:nth-child(odd) {
  background: #CCDEEE;
}

@media (min-width: 768px) {
  .heading__large,
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.7em;
  }
}
