button {
    background-color: transparent;
    border: none;
    outline: none;
}
button,
input[type=button],
input[type=submit],
label,
button:focus {
    outline: none;
}
.button,
a.button {
    display: inline-block;
    border-radius: 50px;
    padding: 8px 32px;
    border: 1px solid #199688;
    text-decoration: none;
    font-weight: 700;
    color: #199688;
    background: transparent;
}
.button:hover,
a.button:hover {
    color: #fff;
    background: #199688;
}
