input, select, table, textarea {
    padding: 8px 16px;
    font: inherit;
    width: 100%;
}
.form-item {
    margin-bottom: 24px;
}
label {
    font-weight: 700;
    display: block;
}

.mailchimp-signup-subscribe-form label {
    display: inline-block;
}
.mailchimp-newsletter-mergefields {
    margin-top: 32px;
}
.mailchimp-newsletter-mergefields .form-item {
    float: left;
}
.mailchimp-newsletter-mergefields .form-item input {
    background: #e5ae1e;
    border: 1px solid #444;
}
.mailchimp-signup-subscribe-form .button {
    border-color: #444;
    color: #444;
}
.mailchimp-signup-subscribe-form .button:hover {
    background: #444;
    color: #e5ae1e;
}
@media (min-width: 768px) {
    input, select, table, textarea {
        width: auto;
    }
    .mailchimp-newsletter-mergefields .form-item input {
        min-width: 450px;
        margin-left: 32px;
    }
    .mailchimp-signup-subscribe-form .button {
        margin-left: 32px;
    }
}
