{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}
 
{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}

    {% if menu_level == 0 %}
      <ul class="clearfix parent-menu">
    {% else %}
      <ul class="child-menu">
    {% endif %}
    {% for item in items %}
      {%
        set classes = [
          item.in_active_trail ? 'active-trail',
        ]
      %}
      <li{{ item.attributes.addClass(classes) }}>
        {% if item.url.toString() == '' and item.below %}
            {#{{ link(item.title, item.url) }}#}
            <a class="toggle childmenu--toggle pure--toggle" aria-expanded="false" href="#">
              {{ item.title }}<i class="fa fa-angle-down"><span class="screen-reader-text">Toggle submenu</span></i>
            </a> 
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% else %}
            {{ link(item.title, item.url) }}
            {% if item.below %}
              <a class="toggle childmenu--toggle" aria-expanded="false" href="#"><i class="fa fa-angle-down"><span class="screen-reader-text">Toggle submenu</span></i></a> 
              {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
            {% endif %}            
        {% endif %}
      </li>
    {% endfor %}
    </ul>

  {% endif %}
{% endmacro %}
