.page-node-type-lesson {
  #block-reportasap-content {
    .article--title {
      margin-top: 0;
    }

    .lesson-sidebar {
      padding-top: 32px;
      padding-bottom: 32px;
      background-color: $c-gray-gallery;
    }

    .lesson-sidebar,
    .lesson-content,
    .lesson-bottom {
      margin-bottom: 15px;
    }

    .field {
      margin-bottom: 15px;
    }

    #field-language-display {
      label {
        float: left;
        padding-right: 0.5em;

        &:after {
          content: ":";
        }
      }
    }

    .field-quiz-answer-form {

      .form-item {
        padding-left: 6px;
        margin-bottom: 12px;
        padding-bottom: 6px;
        padding-top: 6px;
        margin-left: -6px;
      }

      .quiz-answer-correct {
        background-color: $c-mountain-meadow;
      }

      .quiz-answer-wrong {
        background-color: #c34131;
      }

      .quiz-answer-wrong,
      .quiz-answer-correct {
        color: $c-white;

        label {
          &:before {
            border-color: $c-white;
          }

          &:after {
            color: $c-white;
          }
        }
      }
    }

    .flag-completed-lesson, .flag-favorite-lesson {
      margin-bottom: 30px;
    }

    .flag-completed-lesson {
      float: left;

      a {
        padding: 8px 16px;
        border: 1px solid $c-mountain-meadow;

        &:before {
          @include fa;
          padding-right: 1ex;
          content: $fa-var-check-circle-o;
        }
      }

      &.action-unflag a:before {
        content: $fa-var-check-circle;
      }
    }

    .flag-favorite-lesson {
      float: right;

      a {
        padding: 8px 16px;
        border: 1px solid transparent;

        &:before {
          @include fa;
          padding-right: 1ex;
          content: $fa-var-heart-o;
        }
      }

      &.action-unflag a:before {
        content: $fa-var-heart;
      }

    }

    .back-to-lessons {
      float: right;
      padding: 8px 16px;
      border: 1px solid $c-mountain-meadow;
    }

    .field--name-field-lesson-rating {
      text-align: center;

      .field__label {
        float: none;
      }

      div, form {
        display: inline-block;
      }
    }

    .lesson-quiz-feedback {
      color: $c-mountain-meadow;
      font-style: italic;
    }
  }
}

.video-embed-field-responsive-video:after {
  content: none;
}
