.field--name-field-notification-channel.field--widget-options-buttons {
  > fieldset {
    > legend {
      font-size: inherit;
      font-weight: 700;
      display: block;
    }

    .form-item {
      float: left;
      padding-right: 6ex;

      &:last-child {
        padding-right: 0;
      }
    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
}

.form-item-learner-profiles-0-entity-field-notification-channel-wrapper-telephone-reminder {
  margin-top: -24px;
}

.form-actions {
  @media (min-width: 768px) {
    margin-left: -10px;
    margin-right: -10px;

    .button {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
