.lesson-search {

  .lesson-search__filters,
  .lesson-search__results {
    margin-bottom: 15px;
  }

  .lesson-search__filters {
    background-color: $c-gray-gallery;
    padding-top: 32px;
    padding-bottom: 32px;

    details {

      summary {
        border-bottom: 1px solid $c-gray-dusty;
        padding-bottom: 3px;
        margin-bottom: 15px;
        position: relative;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;

        &::-webkit-details-marker {
          display: none;
        }

        &:focus {
          outline: none;
        }

        &:after {
          @include fa;
          content: $fa-var-caret-up;
          transition: transform 0.1s;
          position: absolute;
          right: 0;
          top: 5px;
          color: $c-gray-dusty;
        }
      }

      > div {
        margin-bottom: 20px;
      }

      &[open] summary:after {
        transform: rotate(180deg);
      }
    }

    .form-item-keys {
      position: relative;

      &:before {
        @include fa;
        content: $fa-var-search;
        color: $c-gray-dusty;

        position: absolute;
        width: 16px;
        left: 16px;
        top: 50%;
        margin-top: -8px;
        height: 16px;
        line-height: 16px;
      }

      .form-text {
        border: 2px solid $c-gray;
        width: 100%;
        padding-left: 38px;
        border-radius: 50px;

        &:focus {
          outline: none;
        }
      }
    }

    .form-radios,
    .form-checkboxes {
      > .form-item {
        margin-bottom: 15px;
      }

      label {
        font-weight: 400;
        padding-left: 28px;
        line-height: 20px;

        &:before {
          width: 20px;
          height: 20px;
          border-color: $c-gray;
        }

        &:after {
          top: -22px;
          left: -14px;
        }
      }
    }

    .form-actions {
      margin: 45px -10px -10px;
      display: flex;
      justify-content: space-between;

      .button {
        border-width: 2px;
        margin: 0 10px 10px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  .lesson-search__results {
    .row {
      margin-top: 0;
      margin-bottom: 30px;
    }

    .pager {
      display: block;
      text-align: center;
      list-style: none;
      padding-left: 0;
    }

    .pager__item {
      display: inline-block;
    }

  }

  .lesson-search__item_wrapper {
    border: 1px solid $c-gray-dusty;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    padding: 70px 20px 50px;
    min-height: 180px;
    margin-bottom: 30px;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 40px;
      background-color: $c-mountain-meadow;
    }

    .lesson-search__item__title {
      text-align: center;
      font-weight: bold;

      a {
        padding: 30px 15px;
      }
    }

    .lesson-search__item__footer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 20px;
      padding-right: 20px;

      .flag, .flagged-status.flagged-status-completed, > a {
        width: 32px;
        height: 30px;
        overflow: hidden;
        display: block;
      }

      .flag a, .flagged-status.flagged-status-completed, > a {
        &:before {
          @include fa;
          font-size: 30px;
          padding-right: 30px;
          color: $c-gray;
          padding-left: 1px;
        }
      }

      .flag {
        a {
          &:before {
            transition: color 0.2s;
            content: $fa-var-heart-o;
          }

          &:hover:before {
            color: $c-gray-dusty;
          }
        }

        &.action-unflag a:before {
          content: $fa-var-heart;
        }

        &.flag-waiting a:before {
          content: $fa-var-heart;
          color: $c-gray-dusty;
        }
      }

      .flagged-status {
        &.flagged-status-completed {
          &:before {
            content: $fa-var-check-circle-o;
          }
        }
      }

      > a {
        &:before {
          content: $fa-var-arrow-circle-o-right;
          transition: color 0.2s;
        }

        &:hover:before {
          color: $c-gray-dusty;
        }
      }
    }
  }

}

#block-views-block-flagged-lessons-favorite,
#block-views-block-flagged-lessons-completed {
  margin-top: 3rem;
}
