<div class="container">
    
    {% if score %}
    
        <div class="row">
            <div class="col-md-8">
                <h1 class="article--title">{{ 'Dynamic Demonstrator Results'|t }}</h1>
            </div>
        </div>        
        
        <div>    
            
            {# TODO test config messages 
            
            (fail): {{ introtext_array.fail_text|raw }}<br>
            (pass): {{ introtext_array.pass_text|raw }}<br>
            (cert): {{ introtext_array.certificate_text|raw }}<br>
            (tips): {{ introtext_array.tips_text|raw }}<br>
            
            TODO test config messages #}
            
            {% if pass %}
                
                {# TODO messages from form #}
                
                {{ introtext_array.pass_text|raw }}
                <p>
                    <span class="score">{{ 'Your score is'|t }}
                    {{ ' ' ~ score ~ '%' }}
                    <div class="meter animate pass"></span>
                        <span style="{{ 'width:' ~ score ~ '%' }}"></span>
                    </div>
                </p>
                
                {{ introtext_array.certificate_text|raw }}
                
            {% else %}
                
                {{ introtext_array.fail_text|raw }}
                <p>
                    {{ 'Your score is'|t }}
                    <span class="score">{{ ' ' ~ score ~ '%' }}</span>
                    <div class="meter animate fail">
                        <span style="{{ 'width:' ~ score ~ '%' }}"></span>
                    </div>
                </p>
                
                {{ introtext_array.tips_text|raw }}
                
                <div class="tips">
                    {% for key, value in tips %}
                        
                        {% set title_active_class = '' %}
                        {% set content_active_class = '' %}

                        {% if loop.first %}
                            {% set title_active_class = ' active' %}
                            {% set content_active_class = ' show' %}
                        {% endif %}
                        
                        <h3 class="{{ 'accordion tip-accordion' ~ title_active_class }}">
                            <i class="fa fa-plus"></i>
                            {{ 'Tip '|t ~ loop.index }}
                        </h3>
                        <div class="{{ 'accordion-content tip-content' ~ content_active_class }}">
                            {{ value|raw }}
                        </div>
                    {% endfor %}
                </div>
                
            {% endif %}
            
            
            <a class="button" href="/dynamic-demonstrator">{{ 'Try again'|t }}</a>
        
        </div>
    
    {% elseif sid == null and uid %}
        
        <p>{{ 'Try Dynamic Demonstrator to get your certificate'|t }}</p>
        
        <a class="button" href="#">{{ 'Dynamic Demonstrator'|t }}</a>
        
    {% else %}
        
        <p>{{ 'Oups... you shouldn\'t be here'|t }}</p>
        <p>{{ 'Go back to'|t }}
            <a class="button" href="/">{{ 'homepage'|t }}</a>
        </p>

    {% endif %}
    
    
</div>
