/*
fonts.css from the YUI Library: developer.yahoo.com/yui/
Please refer to developer.yahoo.com/yui/fonts/ for font sizing percentages
*/
body { font: 16px sans-serif; line-height:1.5; -webkit-font-smoothing: antialiased; text-rendering: optimizelegibility; }
table, select, input, textarea { font: 100% sans-serif; }

/* border box on everything! */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* force scrollbar */
html { overflow-y: scroll; }

/* align checkboxes, radios, text inputs with their label */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }

/* use main */
main {display:block;}

/* screen reader accessible class */
.accessibility--component, .screen-reader-text {position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden;}
.screen-reader-text:focus {display: block; position:static; width: 100%; height:auto; padding: 1em; color: white; background: black;}

/* force hover styling as opposed to the awful dotted line */
html.no-touch a:hover, a:active, html.no-touch button:hover, button:active { outline: none; }

/* clearfix */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* headings */

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

/* images */

img {
    width: 100%;
    height: auto;
}
img.align-left,
img[align="left"] {
    margin-right: 16px;
}
img.align-right,
img[align="right"] {
    margin-left: 16px;
}

/* links */
a {
    text-decoration: none;
}

/* content line-heights */
p, li {
    line-height: 1.5em;
}

/* paragraphs */
p {
    margin: 0 0 16px 0;
    padding: 0;
}
*+p {
    margin-top: 16px;
    margin-bottom: 16px;
}