$c-white: #fff;
$c-whitish: #fcfcfc;
$c-alabaster: #fafafa;
$c-whitish: #f8f8f8;
$c-bianca: #fdfcf7;
$c-old-lace: #fdf5e9;
$c-wild-sand: #f3f3f3;
$c-gray-gallery: #efefef;
$c-mercury: #e5e5e5;
$c-gray-light: #d8d7d7;
$c-very-light-grey: #cacaca;
$c-alto-gray: #cfcfcf;
$c-nobel: #b6b6b6;
$c-gray-dusty: #999;
$c-gray: #868686;
$c-dove-gray: #666;
$c-scorpion: #5a5a5a;
$c-emperor: #555;
$c-capecod: #474a4b;
$c-mineshaft: #444;
$c-tundora: #333;
$c-blackish: #111;
$c-black: #000;

$c-mountain-meadow: #199688;
