/* CSS Resets and Utilities */
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
    margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary { /* 1 */
    display: block;
}
/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
    display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
    vertical-align: baseline;
}
/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template, /* 1 */
[hidden] {
    display: none;
}
/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
    background-color: transparent; /* 1 */
    -webkit-text-decoration-skip: objects; /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
html.no-touch a:hover {
    outline-width: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted; /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
    font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
    font-weight: bolder;
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
    font-style: italic;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
    background-color: #ff0;
    color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
    font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
    border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
    overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}
/**
 * Add the correct margin in IE 8.
 */
figure {
    margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}
/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
    font: inherit; /* 1 */
    margin: 0; /* 2 */
}
/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
    font-weight: bold;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
    overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
    text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
    -webkit-appearance: button; /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
    overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}
/*
fonts.css from the YUI Library: developer.yahoo.com/yui/
Please refer to developer.yahoo.com/yui/fonts/ for font sizing percentages
*/
body { font: 16px sans-serif; line-height:1.5; -webkit-font-smoothing: antialiased; text-rendering: optimizelegibility; }
table, select, input, textarea { font: 100% sans-serif; }
/* border box on everything! */
*, *:after, *:before {
    box-sizing: border-box;
}
/* force scrollbar */
html { overflow-y: scroll; }
/* align checkboxes, radios, text inputs with their label */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }
/* use main */
main {display:block;}
/* screen reader accessible class */
.accessibility--component, .screen-reader-text {position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden;}
.screen-reader-text:focus {display: block; position:static; width: 100%; height:auto; padding: 1em; color: white; background: black;}
/* force hover styling as opposed to the awful dotted line */
html.no-touch a:hover, a:active, html.no-touch button:hover, button:active { outline: none; }
/* clearfix */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/* headings */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}
/* images */
img {
    width: 100%;
    height: auto;
}
img.align-left,
img[align="left"] {
    margin-right: 16px;
}
img.align-right,
img[align="right"] {
    margin-left: 16px;
}
/* links */
a {
    text-decoration: none;
}
/* content line-heights */
p, li {
    line-height: 1.5em;
}
/* paragraphs */
p {
    margin: 0 0 16px 0;
    padding: 0;
}
*+p {
    margin-top: 16px;
    margin-bottom: 16px;
}
/* Layout and common site areas */
.container {
    position: relative;
}
section {
    padding: 80px 0;
}
article section {
    padding: 40px 0;
}
.featured-bottom-highlighted {
    background: #61ad2f;
}
.featured-bottom-highlighted .more-link {
    border-color: #fff !important;
}
.featured-bottom-highlighted .more-link a,
.featured-bottom-highlighted h3 {
    color: #fff;
}
.featured-bottom-highlighted .more-link:hover {
    background: #fff !important;
}
.featured-bottom-highlighted .more-link:hover a {
    color: #61ad2f !important;
}
header {
    padding: 16px 0;
}
.site--branding {
   float: left; 
}
.site--branding img {
    width: 80px;
}
/* Secondary Menu */
.secondary-menu ul {
    list-style: none;
    padding: 0;
}
.secondary-menu ul li {
    display: inline;
    margin-left: 16px;
}
.secondary-menu ul li a {
    color: #fff;
    background: #61ad2f;
    padding: 8px 16px;
    border: 1px solid #61ad2f;
}
.secondary-menu ul li a:hover {
    color: #61ad2f;
    background: #fff;
}
/* Main Menu */
.main-menu {
    margin-right: 80px;
}
.main-menu ul {
    list-style: none;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-in-out;
    margin: 0;
    padding: 0;
}
.main-menu ul.open {
    opacity: 1;
    max-height: 1000px;
    width: 100%;
}
.main-menu ul li {
    padding: 4px 0;
}
.main-menu ul li a {
    color: #444;
    font-weight: 700;
    position: relative;
}
.main-menu ul li a:hover {
    color: #61ad2f;
}
/* Mobile Menu toggle */
.menu--toggle--holder {
    padding-bottom: 4px;
    color: #61ad2f;
}
.menu--toggle {
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
    transition: .5s ease-in-out;
    margin: 0 16px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.menu--toggle--element {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #61ad2f;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    transition: .25s ease-in-out;
}
.menu--toggle--element:nth-child(1) {
    top: 2px;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}
.menu--toggle--element:nth-child(2) {
    top: 8px;
    left: -2px;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}
.menu--toggle--element:nth-child(3) {
    bottom: 2px;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}
.menu--toggle.open .menu--toggle--element:nth-child(1) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 2px;
    left: 2px;
}
.menu--toggle.open .menu--toggle--element:nth-child(2) {
    width: 0;
    opacity: 0;
}
.menu--toggle.open .menu--toggle--element:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 1px;
    left: 2px;
}
.dropdown-language-item .dropbutton-arrow {
    border-top-color: #61ad2f;
}
/* Submenu */
.childmenu--toggle {
    margin-left: -4px;
}
.childmenu--toggle.pure--toggle {
    margin-left: 0;
}
.childmenu--toggle.pure--toggle .fa {
    margin-left: 20px;
}
.childmenu--toggle.open .fa:before {
    content: "\F106";
}
.secondary-menu ul li {
    position: relative;
}
ul.child-menu {
    display: none;
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
    padding: 0;
}
ul.child-menu.open {
    display: block;
    z-index: 11;
}
ul.child-menu li {
    margin-left: 0;
    display: block;
    border-top: 1px solid #fff;
}
ul.child-menu li a {
    display: block;
}
@media (min-width: 360px) {
    .site--branding img {
        width: 120px;
    }    
}
@media (min-width: 768px) {
    header {
        padding: 32px 0;
    }
    .site--branding img {
        width: 200px;
    }
}
@media (min-width: 1024px) {       
    /* Language Selector */
    #block-dropdownlanguageselector {
        min-width: 120px;
        padding: 0 16px;
    }
    .dropbutton-wrapper {
        margin-left: 16px;
        font-weight: 700;
    }
    .js .dropbutton-multiple .dropbutton-widget {
        position: absolute;
        background: #fff;
        padding-left: 16px;
    }
    .js .dropbutton-multiple .dropbutton-widget li {
        padding: 0 0 4px 0;
    }
    .menu--toggle--holder {
        display: none;
    }
    .main-menu ul {
        opacity: 1;
        max-height: 1000px;
    }
    .main-menu ul li {
        padding: 0 0 0 32px;        
    }
    .main-menu ul li a:before {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        height: 2px;
        background: #61ad2f;
        transition: width 0.4s;
        width: 0;
    }
    .main-menu ul li a:hover:before {
        width: 100%;
    }    
    .main-menu ul li.active-trail a {
        color: #61ad2f;
    }
}
@media (max-width: 767px) {
    .site--branding {
        float: none;
        max-width: 100px;
    }
    .menu-holder {
        flex-direction: column-reverse!important;
        /*position: absolute;
        top: 0;
        right: 15px;*/
        margin-top: -60px;
        z-index: 11;
    }
    .menu-holder .mt-auto {
        margin-top: 15px !important;
    }
    .secondary-menu {
        margin-top: 10px;
    }
    .secondary-menu ul {
        padding: 0;
        margin-top: 4px;
    }
    .secondary-menu ul li {
        margin-left: 10px;
    }
    .secondary-menu ul li a {
        background: #fff;
        border: 0;
        color: #61ad2f;
        padding: 0;
        font-weight: 700;
    }
    .childmenu--toggle .fa {
        margin-left: 5px;
    }
    ul.child-menu.open {
        background: #fff;
    }
    ul.child-menu li {
        padding: 10px;
        border-top: 1px solid #61ad2f;
        margin-left: 0;
        min-width: 120px;
        background: #fff;
    }
    .main-menu ul {
        transition: none;
        text-align: center;
    }
    .main-menu ul.open {
        position: fixed;
        background: #fff;
        left: 0;
        right: 0;
        bottom: 0;
        top: 90px;
        z-index: 1;
    }
    .main-menu ul li {
        padding: 10px 0;
        border-bottom: 1px solid;
    }
    #block-dropdownlanguageselector {
        position: absolute;
        right: 0;
    }
    .dropbutton-multiple {
        padding-left: 10px;
    }
    .dropbutton-multiple.open {
        background: #fff;
    }
    .js .dropbutton-multiple.open .dropbutton-widget {
        padding-right: 1em;
    }
    .dropbutton-action.secondary-action {
        padding-top: 10px;
    }
    input[type=submit]+input[type=submit] {
        margin-left: 0;
        margin-top: 20px;
    }
}
/* Images */
.aspect__16_9 {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.aspect__16_6 {
  position: relative;
  height: 0;
  padding-bottom: 39%;
  overflow: hidden;
}
.aspect__1_1 {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}
/* Iframes */
.iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    margin-bottom: 16px;
}
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Local tasks */
.reportasap-local-tasks ul {
  margin: 24px 0;
  padding: 0;
}
.reportasap-local-tasks ul li {
  display: inline;
  margin-right: 16px;
}
.reportasap-local-tasks ul li a {
  padding: 8px 24px;
  display: inline-block;
  background: #fff;
  border: 1px solid #61ad2f;
  cursor: pointer;
}
.reportasap-local-tasks ul li a.is-active {
  background: #61ad2f;
  color: #fff;
}
/* Slideshow - Top Image */
.slideshow {
    overflow: hidden;
    position: relative;
}
.slideshow .slideshow-item {
    opacity: 0;
    height: 0;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
    position: relative;
    clear: both;
    overflow: hidden; 
}
.slideshow .slideshow-item.showing {    
    opacity: 1;
    height: 100%;
}
.slideshow-caption {
    background: rgba(97, 173, 47, 0.8);
    padding: 24px 24px 0;
    margin: 0 -15px;
    clear: both;
    overflow: hidden;
}
.slideshow-caption * {
    color: #fff;
}
.top-image {
    position: relative;
}
/* Views */
.views-element-container .row {
    margin-top: 54px;
}
.views-element-container .more-link {
    border: 1px solid #61ad2f;
    border-radius: 50px;
    padding: 8px 32px;
    font-weight: 700;
    margin: 32px auto 0;
}
.views-element-container .more-link:hover {
    background: #61ad2f;
}
.views-element-container .more-link:hover a {
    color: #fff;
}
.article--summary {
    background: rgba(255,255,255,0.9);
    padding: 32px;
    z-index: 1;
    height: 100%;
}
.react--content {
    margin-bottom: 48px;
}
.react--content .article--summary {
    border-bottom: 3px solid #61ad2f;
}
.article--summary:hover {
    background: rgba(255,255,255,1);
}
.body--summary {
    margin-top: 16px;
}
.react--content.partners .article--title {
    display: none;
}
.react--content.partners .article--summary {
    border-bottom: 0;
}
h1.article--title {
    background: #61ad2f;
    padding: 32px;
    color: #fff;
    margin-top: 32px;
}
.article--date {
    margin-bottom: 32px;
}
.article--date .fa {
    margin-right: 16px;
}
.article--image {
    margin-bottom: 16px;
}
.article--body img {
    width: auto;
}
.load-more {
    margin: 48px 0 32px;
}
/* Spinner */
.spinner {
  display: none;
  width: 40px !important;
  height: 40px;
  background-color: #fff;
  position: fixed; 
  top: 50%; 
  left: 50%; 
  border-radius: 100%;
  margin-top: 0px; 
  margin-left: -20px; 
  z-index: 1000;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}
.loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,0.6);
    z-index: 9999;
}
.loader .spinner {
    display: block;
    background-color: #61ad2f;
}
@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}
@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
/* Scroll to content */
.scrolltocontent {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    bottom: 48px;
    color: #fff !important;
    background: #61ad2f;
    opacity: 0.5;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    padding-top: 8px;
    z-index: 1;
}
.scrolltocontent:hover {
  opacity: 1;
}
/* Social sharing */
.social-sharing {
    margin-bottom: 32px;
}
.social-sharing .fa {
    color: #fff;
    width: 36px;
    height: 36px;
    font-size: 0.9em;
    border: 1px solid #324b80;
    border-radius: 50%;
    text-align: center;
    margin-right: 8px;
    padding-top: 10px;
    background: #324b80;
}
.social-sharing .fa:hover {
    color: #324b80;
    background: #fff;
}
.social-sharing .fa-twitter {
    background: #1c9ded;
    border-color: #1c9ded;
}
.social-sharing .fa-twitter:hover {
    color: #1c9ded;
}
.social-sharing .fa-linkedin {
    background: #0970a8;
    border-color: #0970a8;
}
.social-sharing .fa-linkedin:hover {
    color: #0970a8;
}
.social-sharing .fa-google-plus {
    background: #c34131;
    border-color: #c34131;
}
.social-sharing .fa-google-plus:hover {
    color: #c34131;
}
.view-all {
    margin-top: 32px;
}
@media (min-width: 768px) {
    .slideshow-caption {
        position: absolute;
        left: 0;
        bottom: 100px;
        margin: 0;
    }
    .slideshow-caption h1 {
        font-size: 2em;
    }
    .slideshow .slideshow-item {
        height: auto;
        width: 0;
    }
    .slideshow .slideshow-item.showing {  
        width: 100%;
    }
    .views-element-container .more-link {
        position: absolute;
        top: 0;
        right: 15px;
        margin: 0;
    }
    h1.article--title {
        margin-top: 60px;
    }
    .scrolltocontent {
        display: block;
    }
}
@media (min-width: 1024px) {
    .slideshow {
        min-height: 500px;
    }
    .slideshow-caption h1 {
        font-size: 3em;
    }
}
footer {
    padding: 32px 0 0;
    font-size: 0.9em;
    border-top: 3px solid #61ad2f;
}
/* Partners footer block */
.partners--footer img {
    margin-bottom: 32px;
}
.partners--footer .col-6:last-child img {
    max-width: 100px;
}
.footer-bottom {
    padding: 24px 0;
    background: #cfcfcf;
    text-align: center;
}
.footer-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-menu ul li {
    padding-left: 16px;
}
.footer-menu ul li a {
    color: #444;
    position: relative;
}
.footer-menu ul li a:hover {
    color: #61ad2f;
}
.footer-menu ul li a:before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    height: 1px;
    background: #61ad2f;
    transition: width 0.4s;
    width: 0;
}
.footer-menu ul li a:hover:before {
    width: 100%;
}
/* social navigation */
.social-navigation .heading {
    font-size: 1.2em;
}
.social-navigation ul li {
    display: inline;
    padding-left: 24px;
    font-size: 1.6em;
}
.social-navigation ul li a:hover:before {
    width: 0;
}
.copyright {
   margin-bottom: 12px; 
}
/* Scroll to top */
.scrolltop {
    position: fixed;
    right: 32px;
    bottom: 32px;
    color: #fff !important;
    background: #61ad2f;
    opacity: 0;
    visibility: hidden;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    padding-top: 8px;
    z-index: 1;
}
.scrolltop.visible {
  opacity: 0.5;
  visibility: visible;
  transition: opacity .3s ease;
}
.scrolltop.visible:hover {
  opacity: 1;
}
@media (min-width: 768px) {
    .footer-bottom {        
        text-align: left;
    }
    .footer-menu {
        float: right;
    }
    .copyright {
        float: left;
        margin-top: 10px;
        margin-bottom: 0;
    }
}
#block-reportasap img {
    max-width: 120px;
}
.green {
    background: #61ad2f;
}
.green * {
    color: #fff;
}
.gray {
    background: #cfcfcf;
}
.yellow {
    background: #e5ae1e;
}
.icon-blocks {
    margin-top: 32px;
}
.icon-blocks .col-md-4 {
    margin-bottom: 32px;
}
.icon-block {
    background: rgba(97, 173, 47, 0.2);
    height: 100%;
    padding: 16px 48px 16px 16px;
    position: relative;
    font-size: 1.2em;
    font-weight: 700;
}
.icon-block .icon {
    position: absolute;
    right: 16px;
    bottom: 16px;
}
/* Theme - Colours, Icons, Typography etc */
body {
    font-family: 'Jura', sans-serif;
    color: #444;
}
h1, h2, h3, h4, h5, h6, .heading__large {
    font-weight: 700;
}
.heading__large,
h1 {
    font-size: 1.7em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.3em;
}
h4 {
    font-size: 1.2em;
}
.bold {
    font-weight: 700;
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.hidden {
    display: none;
}
.text__uppercase {
    text-transform: uppercase;
}
.small {
    font-size: 0.9em;
}
.italic {
    font-style: italic;
}
a {
    color: #61ad2f;
}
a:hover {
    text-decoration: none;
    color: #e5ae1e;
}
/* Table styling */
table {
    border-bottom: 10px solid #61ad2f;
    margin: 20px 0;
}
th {
    background: #61ad2f;
    color: #fff;
    font-weight: 700;
}
th h1,
th h2,
th h3, 
th h4 {
    color: #fff;
}
td, th {
    padding: 20px;
}
td {
    border-right: 1px solid #fff;
}
tr:nth-child(odd) {
    background: #CCDEEE;
}
@media (min-width: 768px) { 
    .heading__large,
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.8em;
    }
    h3 {
        font-size: 1.7em;
    }
}
input, select, table, textarea {
    padding: 8px 16px;
    font: inherit;
    width: 100%;
}
.form-item {
    margin-bottom: 24px;
}
label {
    font-weight: 700;
    display: block;
}
.mailchimp-signup-subscribe-form label {
    display: inline-block;
}
.mailchimp-newsletter-mergefields {
    margin-top: 32px;
}
.mailchimp-newsletter-mergefields .form-item {
    float: left;
}
.mailchimp-newsletter-mergefields .form-item input {
    background: #e5ae1e;
    border: 1px solid #444;
}
.mailchimp-signup-subscribe-form .button {
    border-color: #444;
    color: #444;
}
.mailchimp-signup-subscribe-form .button:hover {
    background: #444;
    color: #e5ae1e;
}
@media (min-width: 768px) {
    input, select, table, textarea {
        width: auto;
    }
    .mailchimp-newsletter-mergefields .form-item input {
        min-width: 450px;
        margin-left: 32px;
    }
    .mailchimp-signup-subscribe-form .button {
        margin-left: 32px;
    }
}
button {
    background-color: transparent;
    border: none;
    outline: none;
}
button,
input[type=button], 
input[type=submit], 
label,
button:focus {
    outline: none;
}
.button,
a.button {
    display: inline-block;
    border-radius: 50px;
    padding: 8px 32px;
    border: 1px solid #61ad2f;
    text-decoration: none;
    font-weight: 700;
    color: #61ad2f;
    background: transparent;
}
.button:hover,
a.button:hover {
    color: #fff;
    background: #61ad2f;
}
/* Dynamic Demonstrator */
.score {
    font-size: 1.6em;
    font-weight: 700;
}
.meter { 
    height: 30px;
    position: relative;
    background: #555;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}
.meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(97, 173, 47);
    background-image: linear-gradient(
      center bottom,
      rgb(97, 173, 47) 37%,
      rgb(97, 173, 48) 69%
    );
    box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}
.meter.fail > span {
    background-color: #f0a3a3;
    background-image: linear-gradient(to bottom, #f0a3a3, #f42323);
}
.meter > span:after, 
.animate > span > span {
    content: "";
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    background-image: 
				-moz-linear-gradient(
				  -45deg, 
			      rgba(255, 255, 255, .2) 25%, 
			      transparent 25%, 
			      transparent 50%, 
			      rgba(255, 255, 255, .2) 50%, 
			      rgba(255, 255, 255, .2) 75%, 
			      transparent 75%, 
			      transparent
			   );
    z-index: 1;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}
.meter > span:after, 
.animate > span > span {
  -webkit-animation: move 3s linear infinite;
          animation: move 3s linear infinite;
}
@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
/* Tips */
.tips {
    margin-bottom: 40px;
}
/* Accordion */
.tip-accordion {
    padding: 12px 20px 12px 50px;
    border: 1px solid #61ad2f;
    cursor: pointer;
    color: #61ad2f;
    position: relative;
    margin: 0;
    width: 100%;
    font-weight: 700;
    transition: all 0.5s ease;
    margin-top: 1px;
}
.tip-accordion:hover,
.tip-accordion:focus,
.tip-accordion.active {
    background: #61ad2f;
    color: #fff;
}
.tip-accordion .fa {
    font-size: 0.8em;
    color: #61ad2f;
    padding: 6px 8px;
    position: absolute;
    left: 10px;
    top: 12px;
}
.tip-accordion:hover .fa,
.tip-accordion:focus .fa,
.tip-accordion.active .fa {
    color: #fff;
}
.tip-accordion.active .fa:before {
    content: "\F068";
}
.accordion-content {
    opacity: 0;
    height: 0;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    border: 1px solid #61ad2f;
    border-top: 0;
    border-bottom: 0;
}
.accordion-content.show {
    padding: 32px 20px 40px 20px;
    opacity: 1;
    height: auto;
    border-bottom: 1px solid #61ad2f;
}
/* form */
input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
    opacity: 0;
    -webkit-appearance: none;
    position: absolute;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
    padding: 0 0 0 2.5em;
    position: relative;
}
input[type="checkbox"] +label:before,
input[type="radio"] + label:before {
    -webkit-appearance: none;
    content: "";
    border: 2px solid #333;
    background: transparent;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
}
input[type="radio"] + label:before {
    border-radius: 50%;
}
input[type="checkbox"] + label:after,
input[type="radio"] + label:after {
    -webkit-appearance: none;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -30px;
    left: -10px;
    margin: 0.5em 0 0.5em 0.5em;
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
}
input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
    border-color: #61ad2f;
}
input[type="checkbox"]:checked + label:after,
input[type="radio"]:checked + label:after {
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
    content: "\2713";
    font-size: 2em;
    color: #61ad2f;

}
.form-disabled input[type="checkbox"] + label,
.form-disabled input[type="radio"] + label {
    cursor: default;
}
.form-disabled input[type="checkbox"]:checked + label:before,
.form-disabled input[type="radio"]:checked + label:before {
    border-color: gray;
}
.form-disabled input[type="checkbox"]:checked + label:after,
.form-disabled input[type="radio"]:checked + label:after {
    color: gray;
}
.form-actions {
    margin-top: 20px;
}
.fieldset-wrapper .description {
    margin-bottom: 30px;
}

/*# sourceMappingURL=app.css.map*/