#block-reportasap img {
    max-width: 120px;
}
.green {
    background: #199688;
}
.green * {
    color: #fff;
}
.gray {
    background: #cfcfcf;
}
.yellow {
    background: #fccc81;
}

.icon-blocks {
    margin-top: 32px;
}
.icon-blocks .col-md-4 {
    margin-bottom: 32px;
}
.icon-block {
    background: rgba(252, 204, 129, 0.2);
    height: 100%;
    padding: 16px 48px 16px 16px;
    position: relative;
    font-size: 1.2em;
    font-weight: 700;
}
.icon-block .icon {
    position: absolute;
    right: 16px;
    bottom: 16px;
}
