footer {
    padding: 32px 0 0;
    font-size: 0.9em;
    border-top: 3px solid #199688;
}

/* Partners footer block */
.partners--footer img {
    margin-bottom: 32px;
}
.partners--footer .col-6:last-child img {
    max-width: 100px;
}

.footer-bottom {
    padding: 24px 0;
    background: #cfcfcf;
    text-align: center;
}
.footer-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-menu ul li {
    padding-left: 16px;
}
.footer-menu ul li a {
    color: #444;
    position: relative;
}
.footer-menu ul li a:hover {
    color: #199688;
}

.footer-menu ul li a:before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    height: 1px;
    background: #199688;
    transition: width 0.4s;
    width: 0;
}
.footer-menu ul li a:hover:before {
    width: 100%;
}

/* social navigation */
.social-navigation .heading {
    font-size: 1.2em;
}
.social-navigation ul li {
    display: inline;
    padding-left: 24px;
    font-size: 1.6em;
}
.social-navigation ul li a:hover:before {
    width: 0;
}

.copyright {
   margin-bottom: 12px;
}

/* Scroll to top */
.scrolltop {
    position: fixed;
    right: 32px;
    bottom: 32px;
    color: #fff !important;
    background: #199688;
    opacity: 0;
    visibility: hidden;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    padding-top: 8px;
    z-index: 1;
}
.scrolltop.visible {
  opacity: 0.5;
  visibility: visible;
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.scrolltop.visible:hover {
  opacity: 1;
}


@media (min-width: 768px) {
    .footer-bottom {
        text-align: left;
    }
    .footer-menu {
        float: right;
    }
    .copyright {
        float: left;
        margin-top: 10px;
        margin-bottom: 0;
    }
}
