header {
    padding: 16px 0;
}

.site--branding {
   float: left;
}
.site--branding img {
    width: 80px;
}

/* Secondary Menu */
.secondary-menu ul {
    list-style: none;
    padding: 0;
}
.secondary-menu ul li {
    display: inline;
    margin-left: 16px;
}
.secondary-menu ul li a {
    color: #fff;
    background: #199688;
    padding: 8px 16px;
    border: 1px solid #199688;
}
.secondary-menu ul li a:hover {
    color: #199688;
    background: #fff;
}

/* Main Menu */
.main-menu {
    margin-right: 80px;
}
.main-menu ul {
    list-style: none;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .4s ease-in-out;
    transition: max-height .4s ease-in-out;
    margin: 0;
    padding: 0;
}
.main-menu ul.open {
    opacity: 1;
    max-height: 1000px;
    width: 100%;
}
.main-menu ul li {
    padding: 4px 0;
}
.main-menu ul li a {
    color: #444;
    font-weight: 700;
    position: relative;
}
.main-menu ul li a:hover {
    color: #199688;
}

/* Mobile Menu toggle */
.menu--toggle--holder {
    padding-bottom: 4px;
    color: #199688;
}
.menu--toggle {
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    margin: 0 16px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.menu--toggle--element {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #199688;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.menu--toggle--element:nth-child(1) {
    top: 2px;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}
.menu--toggle--element:nth-child(2) {
    top: 8px;
    left: -2px;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}
.menu--toggle--element:nth-child(3) {
    bottom: 2px;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}
.menu--toggle.open .menu--toggle--element:nth-child(1) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 2px;
    left: 2px;
}
.menu--toggle.open .menu--toggle--element:nth-child(2) {
    width: 0;
    opacity: 0;
}
.menu--toggle.open .menu--toggle--element:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 1px;
    left: 2px;
}

.dropdown-language-item .dropbutton-arrow {
    border-top-color: #199688;
}

/* Submenu */
.childmenu--toggle {
    margin-left: -4px;
}
.childmenu--toggle.pure--toggle {
    margin-left: 0;
}
.childmenu--toggle.pure--toggle .fa {
    margin-left: 20px;
}
.childmenu--toggle.open .fa:before {
    content: "\f106";
}
.secondary-menu ul li {
    position: relative;
}
ul.child-menu {
    display: none;
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
    padding: 0;
}
ul.child-menu.open {
    display: block;
    z-index: 11;
}
ul.child-menu li {
    margin-left: 0;
    display: block;
    border-top: 1px solid #fff;
}
ul.child-menu li a {
    display: block;
}

@media (min-width: 360px) {
    .site--branding img {
        width: 120px;
    }
}
@media (min-width: 768px) {
    header {
        padding: 22px 0;
    }
    .site--branding img {
        width: 200px;
    }
}
@media (min-width: 1024px) {
    /* Language Selector */
    #block-dropdownlanguageselector {
        min-width: 120px;
        padding: 0 16px;
    }
    .dropbutton-wrapper {
        margin-left: 16px;
        font-weight: 700;
    }
    .js .dropbutton-multiple .dropbutton-widget {
        position: absolute;
        background: #fff;
        padding-left: 16px;
    }
    .js .dropbutton-multiple .dropbutton-widget li {
        padding: 0 0 4px 0;
    }
    .menu--toggle--holder {
        display: none;
    }
    .main-menu ul {
        opacity: 1;
        max-height: 1000px;
    }
    .main-menu ul li {
        padding: 0 0 0 32px;
    }
    .main-menu ul li a:before {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        height: 2px;
        background: #199688;
        transition: width 0.4s;
        width: 0;
    }
    .main-menu ul li a:hover:before {
        width: 100%;
    }
    .main-menu ul li.active-trail a {
        color: #199688;
    }
}


@media (max-width: 767px) {
    .site--branding {
        float: none;
        max-width: 100px;
    }
    .menu-holder {
        -ms-flex-direction: column-reverse!important;
        flex-direction: column-reverse!important;
        /*position: absolute;
        top: 0;
        right: 15px;*/
        margin-top: -60px;
        z-index: 11;
    }
    .menu-holder .mt-auto {
        margin-top: 15px !important;
    }
    .secondary-menu {
        margin-top: 10px;
    }
    .secondary-menu ul {
        padding: 0;
        margin-top: 4px;
    }
    .secondary-menu ul li {
        margin-left: 10px;
    }
    .secondary-menu ul li a {
        background: #fff;
        border: 0;
        color: #199688;
        padding: 0;
        font-weight: 700;
    }
    .childmenu--toggle .fa {
        margin-left: 5px;
    }
    ul.child-menu.open {
        background: #fff;
    }
    ul.child-menu li {
        padding: 10px;
        border-top: 1px solid #199688;
        margin-left: 0;
        min-width: 120px;
        background: #fff;
    }
    .main-menu ul {
        transition: none;
        text-align: center;
    }
    .main-menu ul.open {
        position: fixed;
        background: #fff;
        left: 0;
        right: 0;
        bottom: 0;
        top: 90px;
        z-index: 1;
    }
    .main-menu ul li {
        padding: 10px 0;
        border-bottom: 1px solid;
    }
    #block-dropdownlanguageselector {
        position: absolute;
        right: 0;
    }
    .dropbutton-multiple {
        padding-left: 10px;
    }
    .dropbutton-multiple.open {
        background: #fff;
    }
    .js .dropbutton-multiple.open .dropbutton-widget {
        padding-right: 1em;
    }
    .dropbutton-action.secondary-action {
        padding-top: 10px;
    }
    input[type=submit]+input[type=submit] {
        margin-left: 0;
        margin-top: 20px;
    }
}
