.container {
    position: relative;
}
section {
    padding: 80px 0;
}
article section {
    padding: 40px 0;
}
.featured-bottom-highlighted {
    background: #199688;
}
.featured-bottom-highlighted .more-link {
    border-color: #fff !important;
}
.featured-bottom-highlighted .more-link a,
.featured-bottom-highlighted h3 {
    color: #fff;
}
.featured-bottom-highlighted .more-link:hover {
    background: #fff !important;
}
.featured-bottom-highlighted .more-link:hover a {
    color: #199688 !important;
}
