{% block paragraph %}

    {% block content %}        
        
        <div class="{{ paragraph.field_column_width.value }}">
            
            <div class="icon-block">

                {{ content.field_body }}

                <div class="icon">
                    <i class="fa fa-{{ paragraph.field_icon.value }}"></i>
                </div>
            
            </div>
                

        </div>
        
    {% endblock %}
    
{% endblock paragraph %}
