{% block paragraph %}

    {% block content %}        
        
        <section class="{{ paragraph.field_background_color.value }}">
            
                
                <div class="container">
                    <div class="row">
                        
                        {% if content.field_title|render is not empty %}
                            <div class="col-lg-4">
                                <h2>{{ content.field_title }}</h2>
                            </div>

                            <div class="col-lg-8">
                                {{ content.field_body }}
                            </div>
                            
                        {% else %}
                            <div class="col-lg-12">
                                {{ content.field_body }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                

        </section>
        
    {% endblock %}
    
{% endblock paragraph %}      
