{% block paragraph %}

    {% block content %}

        <div class="slideshow-item">
            <div class="aspect__16_6">
                {{ content.field_image }}
            </div>
            
            {% if content.field_top_image_text|render is not empty %}
                <div class="container">
                  <div class="slideshow-caption">
                    
                    {% if content.field_link|render is not empty %}
                        <a href="{{ content.field_link[0]['#url'] }}">
                    {% endif %}
                    
                        <h1>{{ content.field_top_image_text }}</h1>
                        
                    {% if content.field_link|render is not empty %}
                        </a>
                    {% endif %}
                    
                  </div>
                </div>
            {% endif %}
        </div>    

        {% endblock %}
    
{% endblock paragraph %}