{#
/**
 * @file
 * Page footer.
 *
*/
#}
<footer role="contentinfo">
    <div class="container clearfix">
        
        <div class="row">
            
            <div class="col-lg-5">
                {{ page.footer_left }}
                
                
            </div>
            
            <div class="col-lg-7">
                {{ page.footer_right }}
            </div>
            
            
        </div>    
        
    </div>
            
    <div class="footer-bottom">
        <div class="container clearfix">
            <div class="copyright">{{ reportasap_copyright }}</div>
            
            <div class="footer-menu">
                
              <div class="social-navigation d-sm-flex align-items-center">
                <span class="heading">{{ 'Follow us'|t }}</span>    
                <ul class="icon--list">
                  {% if reportasap_facebook is not empty %}
                    <li>
                        <a href="{{ reportasap_facebook }}" target="_blank">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            <span class="visually-hidden">{{ 'Facebook'|t }}</span>
                        </a>
                    </li>
                  {% endif %}
                  {% if reportasap_twitter is not empty %}
                    <li>
                        <a href="{{ reportasap_twitter }}" target="_blank">
                            <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            <span class="visually-hidden">{{ 'Twitter'|t }}</span>
                        </a>
                    </li>
                  {% endif %}
                  {% if reportasap_linkedin is not empty %}
                    <li>
                        <a href="{{ reportasap_linkedin }}" target="_blank">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            <span class="visually-hidden">{{ 'Linkedin'|t }}</span>
                        </a>
                    </li>
                  {% endif %}
                  {% if reportasap_pinterest is not empty %}  
                    <li>
                        <a href="{{ reportasap_pinterest }}" target="_blank">
                            <i class="fa fa-pinterest-square" aria-hidden="true"></i>
                            <span class="visually-hidden">{{ 'Pinterest'|t }}</span>
                        </a>
                    </li>
                  {% endif %}
                  {% if reportasap_youtube is not empty %}
                    <li>
                        <a href="{{ reportasap_youtube }}" target="_blank">
                            <i class="fa fa-youtube-square" aria-hidden="true"></i>
                            <span class="visually-hidden">{{ 'YouTube'|t }}</span>
                        </a>
                    </li>
                  {% endif %}
                  {% if reportasap_digg is not empty %}
                    <li>
                        <a href="{{ reportasap_digg }}" target="_blank">
                            <i class="fa fa-digg" aria-hidden="true"></i>
                            <span class="visually-hidden">{{ 'Digg'|t }}</span>
                        </a>
                    </li>
                  {% endif %}
               </ul>
             </div>
                
            </div>
        </div>
    </div>
    
</footer>
