{#
/**
 * @file
 * Page header.
 *
*/
#}
<header class="clearfix">

    <div class="container d-md-flex justify-content-between">
        
        <div class="site--branding">

            <!-- Branding -->
            {{ page.branding }}

        </div>
        
        <div class="d-flex align-items-end flex-column menu-holder">

            <!-- Secondary Navigation. -->
            <div class="secondary-menu">    
                {{ page.secondary_menu }}
            </div>

            <div class="d-flex align-self-end mt-auto p-2">
                <!-- Navigation. -->
                <div class="main-menu">
                    <div class="menu--toggle--holder">
                        <span class="text__uppercase">{{ 'Menu'|t }}</span>
                        <a id="menu--toggle" class="toggle menu--toggle" aria-controls="" aria-expanded="false" href="/sitemap">
                            <span class="menu--toggle--element"></span>
                            <span class="menu--toggle--element"></span>
                            <span class="menu--toggle--element"></span>
                            <span class="screen-reader-text">{{ 'Open Full Menu'|t }}</span>
                        </a>
                    </div>
                    {{ page.main_menu }}
                </div>


                {{ page.language_selector }}
            </div>
        
        </div>
        
    </div>
        
</header>