<div class="layout-container">

  {% include directory ~ '/templates/layout/header.html.twig' %}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">

        <div class="container">{{ page.content }}</div>

    </div>{# /.layout-content #}

  </main>

  <section role="complementary">
      {% if page.block_bottom %}
        <div class="clearfix">{{ page.block_bottom }}</div>
      {% endif %}
  </section>

  {% include directory ~ '/templates/layout/footer.html.twig' %}

  <div class="scrolltop"><i class="fa fa-arrow-up"></i><span class="visually-hidden">{{ 'Scroll to top'|t }}</span></div>

</div>{# /.layout-container #}
