{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.branding: Items for the branding region.
 * - page.main_menu: Items for the main menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.language_selector_menu: Lnguage selector next to menu.
 * - page.content: The main content of the current page.
 * - page.featured_bottom: Featured bottom area.
 * - page.featured_bottom_highlighted: Highlighed featured bottom area.
 * - page.newsletter: Newsletter area.
 * - page.footer_left: Items for the footer region.
 * - page.footer_right: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="layout-container">

  {% include directory ~ '/templates/layout/header.html.twig' %}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
      
        {{ page.content }}
   
    </div>{# /.layout-content #}

  </main>
    
  
    {% if page.featured_bottom %}
        <section role="complementary" class="featured-bottom">
            <div class="container clearfix">{{ page.featured_bottom }}</div>
        </section>
    {% endif %}
    
    {% if page.featured_bottom_highlighted %}
        <section role="complementary" class="featured-bottom-highlighted">
            <div class="container clearfix">{{ page.featured_bottom_highlighted }}</div>
        </section>
    {% endif %}
    
    {% if page.newsletter %}
        <section role="complementary" class="newsletter yellow">
            <div class="container clearfix">{{ page.newsletter }}</div>
        </section>
    {% endif %}

  {% include directory ~ '/templates/layout/footer.html.twig' %}
  
  <div class="scrolltop"><i class="fa fa-arrow-up"></i><span class="visually-hidden">{{ 'Scroll to top'|t }}</span></div>

</div>{# /.layout-container #}
